<div class="container">
  <header><h1>Wifi QR Code Generator</h1></header>
  <div class="container_generator">
    <div class="form-wifi-qr">
      <form #formWifi="ngForm" (ngSubmit)="setQRCode(formWifi)">
        <div class="prop">
          <label for="ssid">Network Name</label>
          <input type="text" id="ssid" name="ssid" ngModel placeholder="">
        </div>
        <div class="prop">
          <label for="password">Password</label>
          <input type="password" name="password" ngModel id="password">
        </div>
        <div class="prop">
          <label>Encryption</label>
          <div class="encode-option">
            <div class="box"  *ngFor="let type of encryptOptions; index as i">
              <input type="radio" [checked]="i == 0" ngModel name="encryptionIndex" [value]="i">
              <span>{{type}}</span>
            </div>
          </div>
        </div>
        <button type="submit" class="btn-submit">Generate QR Code</button>
      </form>
    </div>
    <div class="result">
      <img src="{{result}}"alt="Result">
    </div>
  </div>
  <div class="collections" *ngIf="networkCollections.length > 0">
    <div class="collection-header">
      <header><h1>Collections</h1></header>
    </div>
    <div class="collection-content">
      <app-box *ngFor="let net of networkCollections" [data]="net" (remove)="removeNetwork(net.ssid)"></app-box>
    </div>
  </div>
</div>